@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #DDDDDD;
    --black: #222831;
    --blue: #30475E;
    --red: #F05454;
    --gold: #daa520;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--white);
    background-color: var(--black);
}

/* ================================================================= */

.global {
    max-width: 1020px;
    margin: 2em auto;
}

header {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2em;
}
    .view-picker {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .view-picker img {
        width: 32px;
        cursor: pointer;
        filter: invert(100%) sepia(0%) saturate(3115%) hue-rotate(189deg) brightness(77%) contrast(134%);
    }
    .view-picker img:hover {
        filter: invert(70%) sepia(37%) saturate(868%) hue-rotate(1deg) brightness(89%) contrast(95%);
    }
/* ================================================================= */


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
    /* justify-content: space-around; */
    
}   
    .card {
        background-color: var(--blue);
        margin-bottom: 1em;
        width: 323px;
        height: 450px;
        border: 1px solid rgba(218, 165, 32, 0.438);
        border-radius: 3px;
    }
    .card .user-wr {
        display: flex;
        gap: 20px;
        align-items: center;
        padding: .5em;
    }
        .user-wr img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
    .card .img-wr {
         height: 300px;
         width: 320px;
         overflow: hidden;
         display: flex;
         justify-content: center;
         align-items: center;
    }
        .img-wr img {
            width: 320px;
            cursor: pointer;
        }

        .info-wr {
        padding-top: .5em;
        padding-left: .5em;
        }

        .info-wr .numbers {
        margin-bottom: .3em;
        color: #f5deb3ab
        }
        .numbers span {
            color: var(--white);
        }
        .link span {
            color: #f5deb3ab;
            font-style: italic;
            cursor: pointer;
        }
        .link span:hover {
            color: var(--gold);
            text-decoration: underline;
        }

/* ====ANIMATION============ */
.loading {
    justify-content: center;
	transition: opacity .3s ease-in;
    display: none;
}

.show{
	display: flex;
}

.ball {
	background-color: rgb(187, 187, 187);
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}
/* LIGHTBOX */
.lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 4px solid var(--gold);
}

.lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========================== */
/* LINE THEME */
.line {
    flex-direction: column;
}
.line .card {
    display: flex;
    height: 210px;
    width: auto;
}
.line .img-wr {
    margin-left: 10px;
    height: 130px;
}
.line .img-wr img {
    width: 100%;
}
.line .info-wr {
    width: 100%;
    padding-top: 65px;
    margin-left: 20px;
    
} 
.line .info-wr p {
    font-size: 2rem;
}


/* ========================== */
    @media (max-width: 1100px) {
        .global {
            
        }
        .view-picker {
            margin-right: 3.5em;
        }

        main {
            justify-content: space-around;
            padding: 30px;
        }
    }


    @media (max-width: 730px) {
        .global {
            max-width: 540px;
        }
        .line .card {
            height: 210px;

        }
        .line .img-wr {
            height: 130px;
        }

        .line .info-wr p {
            font-size: 1.2rem;
        }
    }
